# Read data

In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [2]:
# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os

In [3]:
# for dirname, _, filenames in os.walk('/kaggle/input'):
#     print(dirname)
#     for filename in filenames:
#         print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [4]:
root = '/kaggle/input'
main_root = os.listdir(root)
main_root

['rsna-2023-abdominal-trauma-detection']

In [5]:
new_root  = os.path.join(root, main_root[0])
main_tree = os.listdir(new_root)
main_tree

['train_dicom_tags.parquet',
 'sample_submission.csv',
 'train_series_meta.csv',
 'train_images',
 'test_dicom_tags.parquet',
 'segmentations',
 'train.csv',
 'test_series_meta.csv',
 'image_level_labels.csv',
 'test_images']

In [6]:
main_files = [f for f in main_tree if len(f.split('.')) > 1]
main_files

['train_dicom_tags.parquet',
 'sample_submission.csv',
 'train_series_meta.csv',
 'test_dicom_tags.parquet',
 'train.csv',
 'test_series_meta.csv',
 'image_level_labels.csv']

In [7]:
main_folders = [f for f in main_tree if f not in main_files]
main_folders

['train_images', 'segmentations', 'test_images']

In [12]:
f_name     = os.path.join(new_root, main_files[-3])
print(f_name)
train_file = pd.read_csv(f_name)
train_file

/kaggle/input/rsna-2023-abdominal-trauma-detection/train.csv

,patient_id,bowel_healthy,bowel_injury,extravasation_healthy,extravasation_injury,kidney_healthy,kidney_low,kidney_high,liver_healthy,liver_low,liver_high,spleen_healthy,spleen_low,spleen_high,any_injury
0,10004,1,0,0,1,0,1,0,1,0,0,0,0,1,1
1,10005,1,0,1,0,1,0,0,1,0,0,1,0,0,0
2,10007,1,0,1,0,1,0,0,1,0,0,1,0,0,0
3,10026,1,0,1,0,1,0,0,1,0,0,1,0,0,0
4,10051,1,0,1,0,1,0,0,1,0,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3142,9951,1,0,1,0,1,0,0,1,0,0,1,0,0,0
3143,9960,1,0,1,0,1,0,0,1,0,0,1,0,0,0
3144,9961,1,0,1,0,1,0,0,1,0,0,1,0,0,0
3145,9980,1,0,1,0,1,0,0,1,0,0,0,0,1,1
3146,9983,1,0,1,0,1,0,0,1,0,0,0,0,1,1

In [17]:
# Notes
# Each row is for unique patient
# Patient id is not organised in order

# bowel - good/bad
# extra... - good/bad
# kidney - healthy/low/high
# liver - healthy/low/high
# bowel - healthy/low/high

In [13]:
f_name     = os.path.join(new_root, main_files[2])
print(f_name)
train_meta = pd.read_csv(f_name)
train_meta

/kaggle/input/rsna-2023-abdominal-trauma-detection/train_series_meta.csv

      patient_id  series_id  aortic_hu  incomplete_organ
0          10004      21057     146.00                 0
1          10004      51033     454.75                 0
2          10005      18667     187.00                 0
3          10007      47578     329.00                 0
4          10026      29700     327.00                 0
...          ...        ...        ...               ...
4706        9961       2003     381.00                 0
4707        9961      63032     143.75                 0
4708        9980      40214     103.00                 0
4709        9980      40466     135.00                 0
4710        9983      10806     168.00                 0

[4711 rows x 4 columns]

In [16]:
f_name       = os.path.join(new_root, main_files[-2])
print(f_name)
image_labels = pd.read_csv(f_name)
image_labels

/kaggle/input/rsna-2023-abdominal-trauma-detection/test_series_meta.csv

   patient_id  series_id  aortic_hu
0       48843        295     401.25
1       48843      62825     238.00
2       50046      24574     149.00
3       50046      60658     352.00
4       63706      39279     219.00
5       63706      41385     319.00

In [18]:
f_name       = os.path.join(new_root, main_files[-1])
print(f_name)
print("Only provided for bowels and extravasation [internal bleeding]")
image_labels = pd.read_csv(f_name)
image_labels

/kaggle/input/rsna-2023-abdominal-trauma-detection/image_level_labels.csv
Only provided for bowels and extravasation [internal bleeding]

       patient_id  series_id  instance_number           injury_name
0           10004      21057              362  Active_Extravasation
1           10004      21057              363  Active_Extravasation
2           10004      21057              364  Active_Extravasation
3           10004      21057              365  Active_Extravasation
4           10004      21057              366  Active_Extravasation
...           ...        ...              ...                   ...
12024        9632       3750              155  Active_Extravasation
12025        9632       3750              156  Active_Extravasation
12026        9632       3750              157  Active_Extravasation
12027        9632       3750              158  Active_Extravasation
12028        9632       3750              159  Active_Extravasation

[12029 rows x 4 columns]

In [15]:
f_name       = os.path.join(new_root, main_files[1])
print(f_name)
image_labels = pd.read_csv(f_name)
image_labels

/kaggle/input/rsna-2023-abdominal-trauma-detection/sample_submission.csv

,patient_id,bowel_healthy,bowel_injury,extravasation_healthy,extravasation_injury,kidney_healthy,kidney_low,kidney_high,liver_healthy,liver_low,liver_high,spleen_healthy,spleen_low,spleen_high
0,48843,0.5,0.5,0.5,0.5,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333
1,50046,0.5,0.5,0.5,0.5,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333
2,63706,0.5,0.5,0.5,0.5,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333

Understand Train/Test Data